</main>
<footer class="py-4 mt-auto" style="background-color: white;">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div>
                &middot;
            </div>
        </div>
    </div>
</footer>
</div>
</div>