<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <a class="nav-link" href="/index">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                </a>
                <a class="nav-link" href="/personnel">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-users"></i></div>
                    Personnel
                </a>
                <a class="nav-link" href="/item">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-list"></i></div>
                    Items
                </a>
                <a class="nav-link" href="/department">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-building"></i></div>
                    Department
                </a>
                <a class="nav-link" href="/inventory">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-boxes-stacked"></i></div>
                    Inventory
                </a>
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseCategories">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-tags"></i></div>
                    Categories
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseCategories">
                    <nav class="sb-sidenav-menu-nested">
                        
                        <!-- Categories will be dynamically inserted here -->
                        <div id="categoryList">
                            <% if (typeof categories !== 'undefined') { %>
                                <% categories.forEach(function(category) { %>
                                    <a class="nav-link category-filter" href="#" data-category="<%= category.category_name %>">
                                        <i class="fa-solid fa-tag me-2"></i>
                                        <%= category.category_name %>
                                    </a>
                                <% }); %>
                            <% } %>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </nav>
</div>


<!-- Add Category Modal -->
<div class="modal fade" id="addCategoryModal" tabindex="-1" aria-labelledby="addCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCategoryModalLabel">Add New Category</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="category_name" class="form-label">Category Name</label>
                    <input type="text" class="form-control" id="category_name">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveCategory">Save Category</button>
            </div>
        </div>
    </div>
</div>